button{
       width: 200px;
       lenght: 100px
       
       
     }
    h2{
      color: #1877F2 ;
      text-align: center;
    }
    
      #Ha{
        color: white;
        background-color: #1877F2;
        border-radius: 20px;
        
      }
      #Yo{
        color: white;
        background-color: #1877F2;
        border-radius: 20px;
      }
      body{
        background-image: src
      ;
      }
     button{
       width : 150px;
       height: 30px;
       text-decoration: none;
     }
  .P{
    height:30px;
    width:270px;
    border-radius: 20px;
    
  }
     body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    margin: 0 auto;
    padding: 0;
    display: block;
    height: 32px;
    width: 32px;
}

  h4{
    text-align: center;
    }
    .Me{
      
    margin: 0 auto;
    padding: 0;
    display: block;
    height: 16px;
    width: 16px;
    
}
 
 